@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Robot, Arial, sans-serif;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #023047;
    box-sizing: border-box;
}

.banners {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.score-container {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    padding: 50px;
}

.player-score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.score-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 110px;
    width: 120px;
    color: white;
    font-size: 68px;
    font-weight: bold;
    
}

.result-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #023047;
}

.round-result {
    height: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    width: 60%;
    gap: 46px;
}

.selected {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.banner {
    height: 380px;
    width: 700px;
    align-self: center;
    border: none;
}

img {
    background-color: none ;
    border: none;
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
    transition: all .37s ease;
}

button {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.rules{
    border: none;
    margin-right: 150px;
    width: 380px;
    height: 380px;
}

img, 
.round-result,
.score-box {
    border: 3px solid #ffb703;
    border-radius: 12px;
}

.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #023047;
    border: 3px solid #fb8500;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 380px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    color: white;
    margin-top: 10px;
}

.popup-body button {
    border: 3px solid #ffb703;
    border-radius: 12px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    padding: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: all;
    opacity: 1;
}